<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <style type="text/css">
        body {
            font-size: 3em;
        }

        div.container {
            width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Welcome!</h1>
    <p>You may want to have a look at:</p>
    <ul>
        {# http://jinja.pocoo.org/docs/2.10/templates/ #}
        {% for res in resources %}
            <li>
                <a href="/res/{{ res.id }}">{{ res.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
