<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <style>
        div.break {
            height: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <div>
        <p>Messages</p>
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="/clear">
            <input type="submit" value="Clear">
        </form>
    </div>

    <div class="break"></div>

    <div>
        <form method="post" action="/">
            <input name="message" type="text" autocomplete="off"
                   placeholder="Add new message">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>
